force-app/main/default/flows/Product_QC_Auto_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Automatic QC approval request due to modifications on Active Product.</stringValue>
            </value>
        </inputParameters>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
    </actionCalls>
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>eventName</name>
            <value>
                <stringValue>Flow: Product QC Auto Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logType</name>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to submit Product for Approval.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_QC_Approver_On_Record</name>
        <label>Set QC Approver On Record</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.QC_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SelectedUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Assigned_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Less_Than_Min</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Min</name>
        <label>Assign New Min</label>
        <locationX>132</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_MinCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_CurrentCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_SelectedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
    </assignments>
    <recordUpdates>
        <name>Assign_Approver</name>
        <label>Assign Approver</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>$Record</inputReference>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
    </recordUpdates>
    <decisions>
        <name>Decision_Less_Than_Min</name>
        <label>Decision Less Than Min</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Less_Than_Min</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CurrentCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_MinCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Min</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Found_User</name>
        <label>Decision Found User</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SelectedUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_QC_Approver_On_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product QC Auto Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product QC Auto Assignment</label>
    <loops>
        <name>Loop_Members</name>
        <label>Loop Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Assigned_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Found_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_BASIC</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product_QC_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_Products</name>
        <label>Get Assigned Products</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QC_Approver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Members.UserOrGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Verify</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Verify</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_CurrentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_MinCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>999999.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_SelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
